.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    .disc{
        width: 70%;
        border: 2px solid #ea8a76;
    }
}
.subsin{
 display: flex;
 flex-direction: column;
 width: 70%;
}
.ins{
    display: flex;
    flex-direction: row;
}
.subs{
    background-color: #ea8a76;
    margin-left: 20px;
    border-radius: 10px;
    width: 20%;
    height:80px;
}
.textfs{
    display: flex;
    width:75%;
    flex-direction: column;
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 25px;
    }
}
.tops,.bottoms{
    width:185px;
    height:185px;
}
.tops{
    top: 0px;
    left: 0px;
    position: relative;
    margin-bottom: -80px;
}
.bottoms{
    margin-left: 650px;
    margin-top: -50px;
    position: relative;
    right: 0px;
    bottom:0px;
}
